:root{
    --bleu-fc:#022340;
    --bleu:#033159;
    --orange:#F2790F;
    --orange-clair: #F2A03D;
    --orange-fc:#F25116;
    --white:#ffffff;
    --white-tr: rgba(255,255,255,0.95);
    --gris-cl: #e6e6e6;
    --gris: rgb(135,135,135)
}

/* =============== background color ====================*/

.bck-orange{
    background-color: var(--orange);
}
.bck-orange-fc{
    background-color: var(--orange-fc);
}
.bck-bleu{
    background-color: var(--bleu);
}
.bck-gray{
    background-color: var(--gris);
}

/* =============== padding/margin ====================*/
.ptb-2{padding: 2rem 0;}
.ptb-3{padding: 3rem 0;}
.ptb-4{padding: 4rem 0;}
.ptb-5{padding: 5rem 0;}

.pt-6{padding-top: 5rem;}
.pb-6{padding-bottom: 5rem;}

.px-6{padding: 4rem;}
.px-7{padding: 5rem;}

.py-6{padding: 4rem;}
.py-7{padding: 5rem;}

.mx-6{margin: 4rem;}
.mx-7{margin: 5rem;}

.mx-0{margin: 0;}
.my-6{margin: 4rem;}
.my-7{margin: 5rem;}

.min-height{
    height: min-content;
}

/*==================== general =================*/
#app{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}
#app::before {
    content: '';
    background-color: var(--orange-clair);
    position: absolute;
    height: 26rem;
    width: 100%;
    z-index: -1;
}


.title {
    text-align: center;
}

.title h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}
.title h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: var(--bleu);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}
.title a{
    margin-top: 2rem;
}

/* ================ buttons =====================*/
.btn-pr{
    background-color: var(--orange);
    color: var(--white) ;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
}
.btn-pr:hover{
    background-color: var(--orange-fc);
    color: var(--white);
}
.btn-sec{
    background-color: var(--bleu);
    color: var(--white) ;
    border: none;
    padding: 10px 30px;
    border-radius: 0;
    min-width: 150px;
    font-size: 1.1rem;
}
.btn-sec:hover{
    background-color: var(--bleu-fc);
    color: var(--white);
}
.btn-ter{
    background-color: var(--orange-fc);
    color: var(--white) ;
    border: none;
    padding: 10px 30px;
    border-radius: 0;
    min-width: 150px;
    font-size: 1.1rem;
}
.btn-ter:hover{
    background-color: var(--orange);
    color: var(--white);
}


.custom-file-label::after{
    background-color: var(--bleu);
    color: var(--white);
    border-radius: 0;
}


/* ================ nav =====================*/
.navbar .container{
    contain: inherit;
}

.navbar{
    padding: 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}
.navbar .btn-insc {
    background-color: var(--bleu-fc);
    color: var(--white) !important;
    padding: 20px 0;
    min-width: 120px;
    text-align: center;
}
.navbar .btn-insc:hover{
    background-color: var(--orange);
}
.navbar .btn-item-pro {
    background-color: var(--orange-fc);
    color: var(--white) !important;
    padding: 20px 0;
    min-width: 190px;
    text-align: center;
}
.navbar .btn-item-pro:hover{
    background-color: var(--orange);
}
.navbar .menu-it{
    padding: 20px;
    margin: 0 15px;
    color: var(--bleu-fc) !important;
    font-weight: 600;
}
.navbar .menu-it:hover{
    color: var(--orange) !important;
}
a.dropdown-item.menu-it {
    padding: 10px 20px;
    margin: 0;
    border-bottom: solid 1px var(--bleu-fc);
}
a.dropdown-item.menu-it:hover {
    background-color: var(--orange);
    color: var(--white) !important;

}
.navbar .menu-it-name {
    color: var(--bleu-fc);
    display: block;
}
.avatar{
    border-radius:50%;
}
.nav-pr {
    display: flex;
}
.dropdown-menu{
    padding: 0;
    border: none;
    border-radius: 0;
}
.avatar img {
    margin: 11px;
}

/* ================ form =====================*/
form{
    text-align: left;
}
.form-control, .custom-file-label{
    border-radius: 0;
    border: 1px solid var(--bleu);
}
form p, .our-services {
    color: var(--bleu);
    font-size: 1.1rem;
    text-align: center;
}
form h3 {
    text-align: center;
    font-weight: 600;
    color: var(--bleu);
    font-size: 1.47rem;
}
.form-pros-accueil {
    margin-top: 4rem;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("https://image.flaticon.com/icons/svg/60/60781.svg");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
  }

/*================== list resultats =================*/
.list-results{
    background-color: var(--white-tr);
}

.list-results p{
    text-align: left;
    color: var(--bleu);
    font-size: 1.1rem;
    margin-bottom: 0px;;
}
.list-results p span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.list-deco {
    background-image: url(../img/prof-home-01.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45rem;
    background-position-y: 2.5rem;
}
.search-result{
    background-color: var(--white);
}
.search-result figure {
    margin: 0;
    position: relative;
    height: 82px;
}
.search-result figure img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 0;
}
.search-result-body h5 {
    margin: 0;
    padding: 20px 0;
    color: var(--bleu-fc);
    font-weight: 600;
    font-size: 19px;
}
.search-result-body p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 0;
    text-align: right;
}
.search-result-body span{
    font-size: 13px;
    color: var(--gris);
    font-weight: 600 !important;
}
.search-result-body a {
    padding: 10px 20px !important;
    justify-content: space-between;
    display: flex;
}
.search-result-body a:hover{
    text-decoration: none;
    color: var(--white);
    background-color: var(--gris-cl);
}

/* ================ services home =====================*/
.services{
    position: relative;
    padding-top: 50px;
    background-color: var(--gris-cl);
}
.services::before {
    content: '';
    position: absolute;
    background-image: url(../img/rendez-vous-professionnel-home.png);
    height: 86%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 11rem;
}
.ser-item {
    display: flex;
    align-items: center;
    margin: 4.5rem 0;
}
.ser-item h3{
    color: var(--white);
    padding: 0 20px;
    font-size: 1.2rem;
}
.our-services-cont {
    text-align: left;
}
.our-services h2 {
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: 700;
    width: 23rem;
    margin-bottom: 1.5rem;
}
.our-services-cont a{
    text-align: right;
}

/* ================ statistics =====================*/
.statistics{
    position: relative;
}
.statistics::before{
    content: '';
    position: absolute;
    background-image: url(../img/fond-section.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.statistics h2{
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
}
.statistics h3{
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    font-weight: 600;
}


/* ================ aide =====================*/
.aide{
    background-color: var(--orange-fc);
}
.aide h3{
    text-align: center;
    color:var(--white);
    margin: 0;
    padding: 15px 0;
}
.aide h3 span a{
    text-decoration: none;
    color: var(--orange-clair);
    font-size: 1.3rem;
    font-weight: 800;
}
.aide h3 span a:hover{
    color: var(--white);
}


/* ================ space =====================*/

.proInfo h1{
    color: var(--bleu);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.proInfo h1 span {
    color: var(--orange);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
.proInfoCard{
    padding-top: 3rem;
}
.proInfoCard p span{
    margin-left: 1rem;
}

/* ================ scheduler =====================*/
.scheduler{

}
.scheduler h2, .my-appointments h2, .my-personal-info h2{
    text-align: center;
    color: var(--bleu);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
.my-past-appointments h2{
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
#gridDesktop table thead{
    text-align: center;
    font-size: 0.8rem;
    background-color: var(--bleu);
    color: var(--white);
}
#gridDesktop table thead .arrows{
    background-color: var(--orange);
    color: var(--white);
}
#gridDesktop table thead .arrows a{
    color: var(--white);
}
#gridDesktop table thead .arrows:hover{
    background-color: var(--orange-fc);
}


/* ================ my appointments =====================*/
.my-appointments hr{
    margin-bottom: 1rem;
}
.my-appointments h5, .my-past-appointments h5{
    color: var(--bleu);
    font-weight: 700;
}
.rdv{
    margin-bottom: 3rem;
}
.rdvInfo {
    padding: 30px;
}

/* ================ about =====================*/
.about-img img {
    width: 120%;
}
/* ================ contact =====================*/
.map{
    position: relative;
}
.contact-info{
    position: absolute;
    width: 70%;
    height: 20rem;
    bottom: 0;
    color: var(--white);
}
.contact-info h3{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.contact-info p{
    padding: 12px 0;
    margin: 0;
}
.contact-info i{
    margin-right: 10px;
}
.contact-info span{
    margin-left: 22px;
}

/* ================ footer =====================*/

footer{
    background-color: var(--bleu);
    color: var(--white);
    bottom: 0;
    width: 100%;
    border-top: solid 5px var(--orange);
    position: relative;
}
.footer-nav {
    text-align: right;
    margin-top: 10px;
}
.footer-nav ul li {
    display: inline-block;
    padding: 0 30px;
}
.footer-nav a{
    color: var(--white);
}
footer p {
    font-size: 1.1rem;
}
.footer-nav ul li a:hover{
    text-decoration: none;
    color: var(--orange-clair);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::     RESPONSIVE    ::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*===================== responsive nav =======================*/

@media (max-width: 991.98px) {
    .container{
        contain: content;
    }
    .navbar{
        position: absolute;
        width: 100%;
        z-index: 999;
        padding: 8px 0;
    }


    .services::before{
        height: 60%;
        width: 100%;
        background-position-y:6rem;
    }
    .title h1{
        width: 90%;
        margin-top: 4rem;
    }
    .title h2{
        width: 90%;
    }
    .desktop-pro{
        display: none;
    }
    .nav-pr {
        flex-direction: row-reverse;
        top: 0;
        right: 0;
    }
    .navbar-nav .dropdown-menu {
        position: absolute !important;
    }
    .user-nav-mobil {
        flex-direction: row;
        margin-right: 20px;
    }
    .navbar-collapse{
        position: absolute !important;
        right: 0 !important;
        text-align: right;
        background-color:var(--white);
    }
    .user-nav {
        padding: 13px 0;
    }
    .navbar .menu-it{
        margin:0;
    }
    .navbar-toggler{
        border: none;
        color: var(--white) !important;
        background-color: var(--bleu-fc);
        border-radius: 0;
    }
    .navbar-toggler-icon{
        background-image: url(../img/burger-menu.svg) !important;
        width: 30px;
        height: 30px;
    }
    .navbar .menu-it {
        padding: 13px 10px;
        text-align: center;
        border-bottom: solid 1px var(--bleu-fc);

    }
    .navbar-collapse{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .navbar .btn-item-pro{
        padding: 10px 0;
    }
    .about-img img {
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .contact-info {
        width: 100%;
        position: relative;
        margin: 2rem 0;
    }
    footer, .footer-nav{
        text-align: center;
    }
    .footer-nav ul{
        padding: 2rem 0;
    }



  }

  @media (min-width: 992px) {

  }

  @media (max-width: 767.98px){
    .ser-item{
        margin: 60px 40px !important;
    }
    .our-services h2{
        width: auto;
    }
    .search-result figure{
        height: auto;
    }
    .search-result-body a{
        display: block;

    }
    .search-result-body a p{
        text-align: left !important;
    }
    .navbar-toggler{
        padding: 0.25rem 0.5rem;
    }
    .footer-nav ul li {
        display: block;
        padding: 10px 30px;
    }
  }

  @media (max-width: 575.98px){
    .navbar .container{
        margin: 0 10px;
    }

  }
  @media (max-width: 387.98px){
    .navbar-brand{
        margin-right: 0 !important;
        width: 30%;
    }
    .navbar-brand img{
        width: 100% !important;
    }
    }


