:root{
    --bleu:#022340;
    --orange:#F2790F;
    --orange-clair: #F2A03D;
    --orange-fc:#F25116;
    --white:#ffffff;
}

/* =============== padding/margin ====================*/
.ptb-2{padding: 2rem 0;}
.ptb-3{padding: 3rem 0;}
.ptb-4{padding: 4rem 0;}
.ptb-5{padding: 5rem 0;}

.px-6{padding: 4rem;}
.px-7{padding: 5rem;}

.py-6{padding: 4rem;}
.py-7{padding: 5rem;}

.mx-6{margin: 4rem;}
.mx-7{margin: 5rem;}

.mx-0{margin: 0;}
.my-6{margin: 4rem;}
.my-7{margin: 5rem;}

.min-height{
    height: min-content;
}

/* ================ nav =====================*/

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

/* ================ app =====================*/
/* ================ form =====================*/
.form-control, .custom-file-label{
    border-radius: 0;

}




/* ================ buttons =====================*/
.btn-pr{
    background-color: var(--orange);
    color: var(--white) ;
    border: none;
    padding: 10px;
    border-radius: 0;
}
.btn-pr:hover{
    background-color: var(--orange-fc);
    color: var(--white);
}

.avatar{
    border-radius:50%;
}
.custom-file-label::after{
    background-color: var(--bleu);
    color: var(--white);
    border-radius: 0;


}

/* ================ footer =====================*/

footer{
    background-color: var(--bleu);
    color: var(--white);
    bottom: 0;
    width: 100%;
    border-top: solid 5px var(--orange);
    position: relative;
}
.footer-nav {
    text-align: right;
    margin-top: 10px;
}
.footer-nav ul li {
    display: inline-block;
    padding: 0 30px;
}
.footer-nav a{
    color: var(--white);
}
